<?xml version="1.0" encoding="UTF-8" ?>
<!-- PUBLIC 後の URL を消して、ファイル名だけにする、または参照を簡略化する -->
<!-- <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">  VM引数ADD: -Djavax.xml.accessExternalDTD=all -->
<!DOCTYPE configuration SYSTEM "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <!-- カラムがすべてNULLの行をリストに入れない -->
    <setting name="returnInstanceForEmptyRow" value="false"/>
        <!-- 念のため：NULL値が含まれる場合の挙動を安定させる -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    <!-- キャメルケース変換（必要に応じて） -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- DataSourceは空のまま、またはUNPOOLEDにしておく（後で上書きする） -->
      <dataSource type="UNPOOLED">
        <!-- ここに直接書かず、Javaコード側でHikariCPをセットします -->
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <!-- 4. Mapperファイルの登録 (作成したらここに追加)/src直下からのパスを指定 -->
    <!-- resourceを指定した場合、ファイルPATHが[application/~]から始まっていても、MyBatisは内部で独自のResources.getResourceAsStream()を呼ぶため、モジュールの壁に阻まれて見失います。
         その場合、インターフェースのクラスを指定する。[resource（パス）ではなく class（完全修飾名）で指定]
         この場合、マッパーXMLファイル[.xml]は、 interfaceファイル[.java]と同じパッケージ・同じ名前で配置されている必要がある。 -->

    <mapper class="application.mapper.IMySqlMapper"/>
    <!-- <mapper resource="stock_type_master_mapper.xml"/> -->
    <!-- <mapper resource="application/mapper/stock_type_master_mapper.xml"/> -->
    <!-- <mapper resource="application/StockTypeMasterMapper.xml"/> -->
    <!-- <mapper resource="com/example/mapper/UserMapper.xml"/> -->
  </mappers>

</configuration>