003_製造/外部SDK/javafx-sdk-25.0.2/src.zip
003_製造/LogInSystem/AssetManagementPassKeyLogIn/AssetManagementPassKeyLogIn/bin/
003_製造/LogInSystem/AssetManagementPassKeyLogIn/.vs/
*.user
*.cache
003_製造/LogInSystem/AssetManagementPassKeyLogIn/AssetManagementPassKeyLogIn/obj/
*.log
