<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="application.resources.mapper.ApplicationUserMapper">

    <!-- ログインユーザ情報(社員マスター + 社員認証マスター（パスワード管理用） + 権限)の取得 -->
    <select id="getLoginUserData" resultType="application.java.base.tableViewListModel.ApplicationUserModel">
      SELECT
         SM.staff_no,
         SM.name,
         SM.auth_no,
         AM.permission_mask AS PermissionMask,
         SM.del,
         SA.email AS LoginId,
         SA.password_hash AS Password,
         SA.lockout_end AS LockOutDateTime,
         SA.access_failed_count AS FailedCount
      FROM
        staff_master SM
      INNER JOIN
        staff_auth SA
       ON SM.staff_no = SA.staff_no
      INNER JOIN
        auth_master AM
       ON SM.auth_no = AM.auth_id
      WHERE
       1 = 1
      AND SM.del = false
      AND SA.email = #{loginId}
    </select>    

    <!-- ログインユーザ情報(社員マスター + 権限)の取得：PassKey認証の際に用いる -->
    <select id="getLoginUserByNo" resultType="application.java.base.tableViewListModel.ApplicationUserModel"> 
      SELECT 
         SM.staff_no,
         SM.name,
         SM.auth_no,
         AM.permission_mask AS PermissionMask
      FROM 
        staff_master SM
      INNER JOIN
        auth_master AM
       ON SM.auth_no = AM.auth_id
      WHERE
       1 = 1
      AND SM.del = false
      AND SM.staff_no = #{no}
    </select>

    <!-- 社員情報(マスタメンテナンス用)の取得 -->
    <select id="getAllUsers" resultType="application.java.base.tableViewListModel.ApplicationUserModel">
      SELECT
         SM.staff_no AS staffNo,
         SM.name,
         SM.auth_no AS authNo,
         SM.del AS delFlg,
         SA.email AS LoginId,
         SA.password_hash AS Password
      FROM
        staff_master SM
      INNER JOIN
        staff_auth SA
       ON SM.staff_no = SA.staff_no
      WHERE
       1 = 1
      ORDER BY
        SM.staff_no
    </select>

    <!-- マスタ更新(社員認証マスター) -->
    <update id="updStaffAuthOnes" parameterType="application.java.base.tableViewListModel.ApplicationUserModel">
       UPDATE staff_auth
        SET
          lockout_end = #{ lockOutDateTime } ,
          access_failed_count = #{ failedCount }
       WHERE
          staff_no = #{ staffNo }
    </update>

</mapper>
