<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="application.resources.mapper.InventoryListMapper">

    <!-- 備品一覧の取得 -->
    <select id="getTableRecords">
       WITH SUB_TOTAL AS
       (
           SELECT 
               ST.stock_type
             , ST.stock_code
             , SUM(CASE
                      WHEN SD.staff_no IS NOT NULL AND (DATEDIFF(CURRENT_DATE(), SD.confirmed_date) &lt;= 365 )
                        THEN 1
                      ELSE
                        0
                     END) AS lending_count  -- 貸出備品の数
             , SUM(CASE
                      /* 在庫 = [staff_no]：貸出先ユーザーの社員番号 が未設定(NULL) 且つ
                                [return_date]：返却日が未設定(NULL) 且つ
                                [confirmed_date]：最終所在確認日 が１年以内 */
                      WHEN SD.staff_no IS NULL AND (DATEDIFF(CURRENT_DATE(), SD.confirmed_date) &lt;= 365 )
                        THEN 1
                      ELSE
                        0
                     END) AS stock_count    -- 在庫備品の数
             , SUM(CASE
                       /* 不明 = [return_date]：返却日が未設定(NULL) 且つ
                                 [confirmed_date]：最終所在確認日 が１年前以前 
                          ※ 貸出中・在庫を問わず１年前以前のデータを不明とする
                      */
                      WHEN (DATEDIFF(CURRENT_DATE(), SD.confirmed_date) &gt; 365 )
                        THEN 1
                      ELSE
                        0
                     END) AS unknown_count  -- 不明備品の数
           FROM
             (SELECT
                  S.stock_type
                , S.stock_code
              FROM
                stock_type_master S
              /* ログインユーザに合わせた制御 */
              INNER JOIN 
                stock_type_auth_master STAM
               ON S.stock_type = STAM.stock_type
              AND STAM.auth_id = #{authId}
              -- 参照権限がある備品分類を指定
              AND (STAM.permission &amp; 00001 &gt; 0) 
              WHERE
                1 = 1
              AND S.del = FALSE) ST 
           INNER JOIN 
             stock_master SM
            ON ST.stock_type = SM.stock_type 
           AND ST.stock_code = SM.stock_code 
           AND SM.del = FALSE 
           /* 未登録データを考慮しLEFT JOINとする */
           LEFT JOIN 
              stock_data SD
            ON SM.serial_no = SD.serial_no
           /* 返却済データの除去 */
           AND SD.return_date IS NULL
           AND SD.del = FALSE 
           /* 社員番号を設定した場合のみ、抽出条件とする */
           <where>
               <if test="staffNo != null and staffNo > 0">
                   AND SD.staff_no = #{staffNo}
               </if>
           </where>

           GROUP BY
             ST.stock_type
           , ST.stock_code
        )
         
        SELECT
            ST.stock_type                 AS type,
            ST.stock_code                 AS code,
            ST.name                       AS itemName,
            IFNULL(S.lending_count, 0)    AS loanCount,
            IFNULL(S.stock_count, 0)      AS returnCount,
            IFNULL(S.unknown_count, 0)    AS unknownCount,
            IFNULL(S.lending_count + 
                        S.stock_count, 0) AS totalCount
            /* 追加項目：遷移先画面サイズ */
            , IFNULL( GCM.value_1, '1')   AS windowSize
        FROM
          stock_type_master ST
        INNER JOIN
          SUB_TOTAL S
         ON ST.stock_type = S.stock_type
        AND ST.stock_code = S.stock_code
       /* 追加項目 遷移先画面サイズ */
        LEFT JOIN
          generic_code_master GCM
         ON CAST(ST.stock_type AS CHAR) = GCM.type_key
        AND ST.stock_code = GCM.code
        AND GCM.generic_key = 'WINDOW_SIZE'
        WHERE
          1 = 1
        ORDER BY 
            ST.stock_type
          , St.stock_code
    </select>

    <!-- Viwew[equip_list_view]から全データの取得 -->
    <select id="getViewAllRecords">
         SELECT
             EV.stock_type AS type,
             EV.stock_code AS code,
             EV.名称       AS itemName,
             EV.貸出       AS loanCount,
             EV.在庫       AS returnCount,
             EV.不明       AS unknownCount,
             EV.合計       AS totalCount,
         FROM
           equip_list_view EV
         WHERE
           1 = 1
    </select>

    <select id="getWindowSize">
         SELECT
           IFNULL( GCM.value_1, '1') AS windowSize
         FROM
           generic_code_master GCM
         WHERE
           1 = 1
         AND GCM.type_key = #{type}
         AND GCM.code = #{code}   
    </select>

</mapper>
