<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="application.resources.mapper.StaffAuthMapper">

    <!-- 全件取得：idはメソッド名、resultTypeは戻り値のクラス -->
    <select id="selectAll">
        SELECT * FROM staff_auth
    </select>
    
    <!-- 1件取得：#{no} は引数の値が入る場所 -->
    <select id="selectByNo" resultType="application.java.base.dbTablesModel.StaffAuthModel"> 
        SELECT * FROM staff_auth WHERE staff_no = #{no}
    </select>

    <!-- マスタデータ存在確認 -->
    <select id="existsEmail" resultType="boolean">
      SELECT 
         EXISTS 
         (
          SELECT 
             1 
          FROM
            staff_auth SA
          INNER JOIN 
            staff_master SM
           ON SA.staff_no = SM.staff_no
          AND SM.del = FALSE
          <where>
            1 = 1
            AND SA.email = #{emailAddr}   
            <if test= "staffNo != null and staffNo > 0 ">
              AND SA.staff_no != #{staffNo}
            </if>
          </where>
         ) AS IS_EXISTS
    </select>

    <!-- 新規登録(マスタメンテナンス用) -->
    <!-- ロックアウト終了日時・ログイン失敗回数は初期値とする -->
    <insert id="insStaffAuthOnes" parameterType="application.java.base.dbTablesModel.StaffAuthModel"> 
        INSERT INTO staff_auth
        (
          staff_no,
          email,
          password_hash
        ) VALUES (
          #{staffNo} ,
          #{emailAddr} ,
          #{pass}
        )
    </insert>

    <!-- マスタ更新(マスタメンテナンス用) -->
    <!-- ロックアウト終了日時・ログイン失敗回数は更新しない -->
    <update id="updStaffAuthOnes" parameterType="application.java.base.dbTablesModel.StaffAuthModel">
       UPDATE staff_auth
         <set>
           <if test="emailAddr != null and emailAddr != ''">email = #{emailAddr},</if>
           <if test="pass != null and pass != ''">password_hash = #{pass},</if>
         </set>
       WHERE
          staff_no = #{staffNo}
    </update>
</mapper>
