<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="application.resources.mapper.StockMasterMapper">

    <!-- 備品マスタ 明細用一覧の取得 -->
    <select id="getTableStockMasterDetailRecords">
     SELECT
       STM.name AS typeName,
       GCM_A.value_1 AS assetStatus,
       GCM_P.value_1 AS paymentStatus,
       VM.name AS vendorName,
       IFNULL(DATE_FORMAT(SM.expiry_date, '%Y/%m/%d'), '-') AS expiryDateString,
       CASE
         WHEN SM.rent_flg
           THEN '4'
         ELSE
           '1'
       END AS rentStatus,

       SM.serial_no AS serialNo,
       SM.name AS stockName,
       SM.model,
       SM.maker,
       SM.stock_type AS stockType,                   -- 分類種別
       SM.stock_code AS stockCode,                   -- 分類コード
       SM.rent_flg AS rentFlg,                       -- 貸出可否
       SM.asset_type AS assetType,                   -- 資産区分
       SM.vendor_code AS vendorCode,                 -- 貸出会社コード
       SM.expiry_date AS expiryDate,                 -- 契約満了日
       SM.pay_cycle AS payCycle,                     -- 支払区分
       SM.price,                                     -- 料金
       SM.remarks,                                   -- 備考
       SM.del AS delFlg                              -- 削除フラグ
     FROM
       stock_master SM
     LEFT JOIN
       stock_type_master STM
      ON SM.stock_type = STM.stock_type
     AND SM.stock_code = STM.stock_code
     LEFT JOIN 
       vendor_master VM
      ON SM.vendor_code = VM.code
     LEFT JOIN
       generic_code_master GCM_A
      ON GCM_A.generic_key = 'ASSET_TYPE'
     AND SM.asset_type = GCM_A.type_key
     LEFT JOIN
       generic_code_master GCM_P
      ON GCM_P.generic_key = 'PAY_CYCLE'
     AND SM.pay_cycle = GCM_P.type_key
       <where>
         <if test= "type != null and type > -1">
             AND STM.id = #{type}
         </if>

         <if test= "serialNo != null and serialNo != ''">
             AND SM.serial_no LIKE CONCAT('%', #{serialNo}, '%')
         </if>

         <if test= "name != null and name != ''">
             AND SM.name LIKE CONCAT('%', #{name}, '%')
         </if>

         <if test= "model != null and model != ''">
             AND SM.model LIKE CONCAT('%', #{model}, '%')
         </if>

         <if test= "status != null ">
             AND SM.rent_flg = #{status}
         </if>

         <if test= "del != null and del == true">
             AND SM.del = TRUE
         </if>
       </where>
     ORDER BY
       SM.serial_no
    </select>

    <!-- マスタデータ存在確認 -->
    <select id="existsStockMaster" resultType="boolean" parameterType="application.java.base.dbTablesModel.StockMasterModel">
      SELECT 
         EXISTS 
         (
          SELECT 
             1 
          FROM
            stock_master 
          WHERE 
            1 = 1
          AND serial_no = #{serialNo} 
         ) AS IS_EXISTS
    </select>

    <!-- 新規登録(マスタメンテナンス用) -->
    <insert id="insStockMasterOnes" parameterType="application.java.base.dbTablesModel.StockMasterModel"> 
      INSERT INTO stock_master
      (
        serial_no,
        name,
        model,
        maker,
        stock_type,
        stock_code,
        rent_flg,
        asset_type,
        vendor_code,
        expiry_date,
        pay_cycle,
        price,
        remarks,
        del
      ) VALUES (
        #{serialNo},
        #{stockName},
        #{model},
        #{maker},
        #{stockType},
        #{stockCode},

        <if test="rentFlg != null">
          #{rentFlg},
        </if>
        <if test="rentFlg == null">
          FALSE,
        </if>

        <choose>
          <when test="assetType != null and assetType > -1">
            #{assetType},
          </when>
          <when test="assetType == -1">
            NULL,
          </when>
          <otherwise>NULL,</otherwise>
        </choose>

        #{vendorCode},

        <choose>
          <when test="expiryDate != null">
            #{expiryDate},
          </when>
          <otherwise>NULL,</otherwise>
        </choose>

        <choose>
          <when test="payCycle != null and payCycle > -1">
            #{payCycle},
          </when>
          <when test="payCycle == -1">
            NULL,
          </when>
          <otherwise>NULL,</otherwise>
        </choose>

        <choose>
          <when test="price != null">
            #{price},
          </when>
          <otherwise>NULL,</otherwise>
        </choose>

        #{remarks},

        <if test="delFlg != null">
          #{delFlg}
        </if>
        <if test="delFlg == null">
          FALSE
        </if>
      )
    </insert>

    <!-- マスタ更新 -->
    <update id="updStockMasterOnes" parameterType="application.java.base.dbTablesModel.StockMasterModel">
      UPDATE stock_master
      <set>
        stock_type = #{stockType},
        stock_code = #{stockCode},
        
        name = #{stockName},
        model = #{model},
        maker = #{maker},
        vendor_code = #{vendorCode},
        remarks = #{remarks},

        <if test="rentFlg != null">
          rent_flg = #{rentFlg},
        </if>
        <if test="rentFlg == null">
          rent_flg = FALSE,
        </if>
        
        <choose>
          <when test="assetType != null and assetType > -1">
            asset_type = #{assetType},
          </when>
          <when test="assetType == -1">
            asset_type = NULL,
          </when>
          <otherwise>asset_type = NULL,</otherwise>
        </choose>

        <choose>
          <when test="expiryDate != null">
            expiry_date = #{expiryDate},
          </when>
          <otherwise>expiry_date = NULL,</otherwise>
        </choose>

        <choose>
          <when test="payCycle != null and payCycle > -1">
            pay_Cycle = #{payCycle},
          </when>
          <when test="assetType == -1">
            pay_Cycle = NULL,
          </when>
          <otherwise>pay_Cycle = NULL,</otherwise>
        </choose>

        <choose>
          <when test="price != null">
            price = #{price},
          </when>
          <otherwise>price = NULL,</otherwise>
        </choose>

        <if test="delFlg != null">
          del = #{delFlg},
        </if>
        <if test="delFlg == null">
          del = FALSE,
        </if>

      </set>
      WHERE
       serial_no = #{serialNo}
    </update>

</mapper>
