<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="application.resources.mapper.StockTypeMasterMapper">

    <!-- 全件取得：idはメソッド名、resultTypeは戻り値のクラス -->
    <select id="selectAll">
        SELECT * FROM stock_type_master
    </select>

    <!-- 全件取得(マスタメンテナンス用)：idはメソッド名、resultTypeは戻り値のクラス -->
    <select id="selectMaintenance">
      SELECT 
        STM.id AS stockTypeId,
        STM.stock_type,
        STM.stock_code,
        STM.name AS stockTypeName,
        STM.del AS delFlg
      FROM 
        stock_type_master STM
      WHERE
        1 = 1
      ORDER BY
        STM.stock_type,
        STM.stock_code
    </select>

    <!-- 1件取得：#{id} は引数の値が入る場所 -->
    <select id="selectById">    
        SELECT * FROM stock_type_master WHERE id = #{id}
    </select>

    <select id="existsStockType" resultType="boolean">
      SELECT 
         EXISTS 
         (
          SELECT 
             1 
          FROM
            stock_type_master 
          WHERE 
            1 = 1
          AND stock_type = #{stockType} 
          AND stock_code = #{stockCode}
         ) AS IS_EXISTS
    </select>

    <!-- 新規登録 -->
    <insert id="newRecord"> 
        INSERT INTO stock_type_master (id) VALUES (#{id})
    </insert>

</mapper>
