<?xml version="1.0" encoding="UTF-8" ?>
<!-- PUBLIC 後の URL を消して、ファイル名だけにする、または参照を簡略化する -->
<!-- <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">  VM引数ADD: -Djavax.xml.accessExternalDTD=all -->
<!DOCTYPE configuration SYSTEM "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <!-- MyBatisのLog出力モジュール指定 -->
    <setting name="logImpl" value="SLF4J"/>
    <!-- カラムがすべてNULLの行をリストに入れない -->
    <setting name="returnInstanceForEmptyRow" value="false"/>
        <!-- 念のため：NULL値が含まれる場合の挙動を安定させる -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    <!-- キャメルケース変換（必要に応じて） -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 自作するFactoryのフルパッケージ名を指定 -->
      <dataSource type="application.resources.xml.HikariDataSourceFactory">
        <!-- 1. ドライバクラス名 (MySQL 8.0系はこの名前) -->
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        
        <!-- 2. 接続URL (DB名、文字コード、タイムゾーンを指定) -->
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B9&amp;useSSL=false&amp;allowPublicKeyRetrieval=true&amp;useCursorFetch=true"/>
        <!-- <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/java_learning?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B9&amp;useSSL=false&amp;allowPublicKeyRetrieval=true&amp;useCursorFetch=true"/> -->

        <!-- 3. ユーザー名とパスワード -->
        <property name="username" value="app2"/>
        <property name="password" value="app_user_1234"/>
        <!-- <property name="username" value="user"/> -->
        <!-- <property name="password" value="user_1234"/> -->

        <!-- 並列処理用のHikariCPプロパティ -->
        <property name="maximumPoolSize" value="20"/>
        <property name="connectionTimeout" value="30000"/>
        
        <!-- PassKey認証サーバーの設定 -->
        <property name="authServerUrl" value="https://localhost:7215"/>
        <!-- JavaFXアプリ側（受信用ローカルサーバー）のポート番号（任意。重複回避のため8888など） -->
        <property name="authCallbackPort" value="8888"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <!-- 4. Mapperファイルの登録 (作成したらここに追加)/src直下からのパスを指定 -->
    <!-- resourceを指定した場合、ファイルPATHが[application/~]から始まっていても、MyBatisは内部で独自のResources.getResourceAsStream()を呼ぶため、モジュールの壁に阻まれて見失います。
         その場合、インターフェースのクラスを指定する。[resource（パス）ではなく class（完全修飾名）で指定]
         この場合、マッパーXMLファイル[.xml]は、 interfaceファイル[.java]と同じパッケージ・同じ名前で配置されている必要がある。 -->
    <mapper class="application.resources.mapper.InventoryListMapper"/>
    <mapper class="application.resources.mapper.InventoryDetailsMapper"/>
    <mapper class="application.resources.mapper.InventoryLoanMapper"/>
    <mapper class="application.resources.mapper.InventoryReturnMapper"/>
    <mapper class="application.resources.mapper.PerformInventoryMapper"/>
    <mapper class="application.resources.mapper.StockTypeMasterMapper"/>
    <mapper class="application.resources.mapper.StockMasterMapper"/>
    <mapper class="application.resources.mapper.StaffMasterMapper"/>
    <mapper class="application.resources.mapper.StaffAuthMapper"/>
    <mapper class="application.resources.mapper.AuthMasterMapper"/>
    <mapper class="application.resources.mapper.GenericCodeMasterMapper"/>
    <mapper class="application.resources.mapper.StockDataMapper"/>
    <mapper class="application.resources.mapper.ApplicationUserMapper"/>
  </mappers>

</configuration>